*,
::after,
::before {
  box-sizing: border-box;
  margin: o;
  padding: o;
  scroll-behavior: smooth;
}
::selection {
    background: var(--main-color);   
    color: #000;        
}

:root {
  --main-color: #cbfe1c;
}
@font-face {
  font-family: Days_one;
  src: url(../fonts/Days_One/DaysOne-Regular.ttf);
}
@font-face {
  font-family: Chakra_petch;
  src: url(../fonts/Chakra_Petch/ChakraPetch-Regular.ttf);
}
.main-background {
  background-color: var(--main-color);
}
.main-color {
  color: var(--main-color);
}
.f-t-chakra {
  font-family: Chakra_petch;
}
.f-t-Days {
  font-family: Days_one;
}
.ls-1 {
  letter-spacing: 0.5px;
}
.ls-2 {
  letter-spacing: 2px;
}

/* Navbar Section */
.my-navbar {
  border-bottom: #191a23 2px solid;
  padding: 0;
  background-color: #0b0e13;
  font-family: Chakra_petch;
}
.my-navbar .navbar-brand {
  color: var(--main-color);
  font-weight: bold;
}
.my-navbar .nav-link {
  color: white !important;
}
.my-navbar .nav-link.active {
  color: var(--main-color) !important;
}
.my-button {
  background-color: var(--main-color);
  color: #000;
}
/* Header Section */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../Images/imgi_77_hero-bg-H6PoyNYD.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Days_one;
}
.my-header .text-neon {
  color: var(--main-color);
}
.my-header p {
  font-family: Chakra_petch;
  color: #d0d3da;
}
.image-container {
  width: 90%;
  height: 380px;
  border: 4px solid transparent;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(90deg, #cbfe1c, #91f154, #08e073) border-box;
}
.header-img .my-img-card {
  background-color: #0b0e13;
  border: #202733 2px solid;
  left: 4%;
  bottom: -8%;
}
.header-img .my-img-card i {
  color: var(--main-color);
}
.my-img-card p {
  font-size: 0.8rem;
}
.my-img-card h5 {
  font-size: 1rem;
}
.my-buttons {
  font-family: Chakra_petch;
}
.my-buttons .btn-warning {
  background-color: var(--main-color);
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.my-buttons .btn-warning:hover {
  background: linear-gradient(90deg, #ceef5f, #eefcc0, #effdc2, #e1ff7f);
  color: #000 !important;
  border-color: #cdff36 !important;
}
.btn-outline-warning {
  color: var(--main-color);
  border-color: var(--main-color) !important;
}
.btn-outline-warning:hover {
  background-color: var(--main-color) !important;
  color: #000 !important; /* لون الخط */
}
/* OUR Game Section */
.dark-background {
  background-color: #0b0e13;

}
.our-game h4::before,
.what-we-do h4::before,
.our-team h4::before {
  content: "";
  width: 5%;
  position: absolute;
  top: 20%;
  left: 55%;
  height: 0.2rem;
  background: linear-gradient(to left, rgba(205, 255, 54, 0.1), #cdff36);
  border-bottom-right-radius: 90%;
  border-top-right-radius: 90%;
}
.our-game h4::after,
.what-we-do h4::after,
.our-team h4::after {
  content: "";
  width: 5%;
  position: absolute;
  top: 20%;
  right: 55%;
  height: 0.2rem;
  background: linear-gradient(to right, rgba(205, 255, 54, 0.1), #cdff36);
  border-bottom-left-radius: 90%;
  border-top-left-radius: 90%;
}
.carousal-buttons {
  gap: 2rem;
}
.btn-1-2 {
  gap: 1rem;
}
.carousal-buttons .carousel-control-prev,
.carousal-buttons .carousel-control-next {
  width: auto;
  position: static;
}
.i-1:hover,
.i-2:hover {
  border-color: var(--main-color) !important;
}
.i-1:hover .my-icon,
.i-2:hover .my-icon {
  color: var(--main-color);
}

.what-to-do-card {
  background-color: #1a1a1a;
  border: #1e2939 2px solid;
}
.what-to-do-card .icon-card {
  background-color: #1e2939;
}
.what-to-do-card i {
  color: var(--main-color);
}
.what-to-do-card {
  position: relative;
  padding: 60px 20px;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 20px;
  transition: 0.3s;
}

/* Corners */
.what-to-do-card::before,
.what-to-do-card::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  opacity: 0;
  transition: 0.3s;
}

.what-to-do-card::before {
  top: 10px;
  left: 10px;
  border-top-color: #cdff36;
  border-left-color: #cdff36;
}

.what-to-do-card::after {
  bottom: 10px;
  right: 10px;
  border-bottom-color: #cdff36;
  border-right-color: #cdff36;
}

/* Hover changes */
.what-to-do-card:hover {
  border-color: #cdff36;
}

.what-to-do-card:hover::before,
.what-to-do-card:hover::after {
  opacity: 1;
}

.what-to-do-card:hover .icon-card {
  background: #cdff36;
}

.what-to-do-card:hover .icon-card i {
  color: #1e2939;
}

.what-we-do::after {
  content: "";
  width: 40%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  height: 0.2rem;
  background: linear-gradient(
    to right,
    transparent,
    #cdff36,
    #cdff36,
    transparent
  );

  box-shadow: 0 0 12px #cdff36, 0 0 24px rgba(205, 255, 54, 0.4),
    0 0 32px rgba(205, 255, 54, 0.2);
}

.logo-left-track {
  animation: slide-left 15s linear infinite;
}
.logo-right-track {
  animation: slide-right 20s linear infinite;
}

.logo-img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.logo-img {

}
.image-animation{
  width: 20%;
}
.image-animation img{
  width: 100%;
}