*,
::after,
::before {
  box-sizing: border-box;
  margin: o;
  padding: o;
  scroll-behavior: smooth;
}
::selection {
  background: var(--main-color);
  color: #000;
}

:root {
  --main-color: #cbfe1c;
}
@font-face {
  font-family: Days_one;
  src: url(../fonts/Days_One/DaysOne-Regular.ttf);
}
@font-face {
  font-family: Chakra_petch;
  src: url(../fonts/Chakra_Petch/ChakraPetch-Regular.ttf);
}
.main-background {
  background-color: var(--main-color);
}
.main-color {
  color: var(--main-color);
}
.f-t-chakra {
  font-family: Chakra_petch;
}
.f-t-Days {
  font-family: Days_one;
}
.ls-1 {
  letter-spacing: 0.5px;
}
.ls-2 {
  letter-spacing: 2px;
}
.nav-link.active {
  color: var(--main-color) !important;
}

/* Navbar Section */
.my-navbar {
  border-bottom: #191a23 2px solid;
  padding: 0;
  background-color: #0b0e13;
  font-family: Chakra_petch;
}
.my-navbar .navbar-brand {
  color: var(--main-color);
  font-weight: bold;
}
.my-navbar .nav-link {
  color: white !important;
}
.my-navbar .nav-link.active {
  color: var(--main-color) !important;
}
.my-button {
  background-color: var(--main-color);
  color: #000;
}
/* Header Section */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("../Images/imgi_77_hero-bg-H6PoyNYD.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Days_one;
}
.my-header .text-neon {
  color: var(--main-color);
}
.my-header p {
  font-family: Chakra_petch;
  color: #d0d3da;
}
.image-container {
  width: 90%;
  height: 380px;
  border: 4px solid transparent;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(90deg, #cbfe1c, #91f154, #08e073) border-box;
}
.header-img .my-img-card {
  background-color: #0b0e13;
  border: #202733 2px solid;
  left: 4%;
  bottom: -8%;
}
.header-img .my-img-card i {
  color: var(--main-color);
}
.my-img-card p {
  font-size: 0.8rem;
}
.my-img-card h5 {
  font-size: 1rem;
}
.my-buttons {
  font-family: Chakra_petch;
}
.my-buttons .btn-warning {
  background-color: var(--main-color);
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.my-buttons .btn-warning:hover {
  background: linear-gradient(90deg, #ceef5f, #eefcc0, #effdc2, #e1ff7f);
  color: #000 !important;
  border-color: #cdff36 !important;
}
.btn-outline-warning {
  color: var(--main-color);
  border-color: var(--main-color) !important;
}
.btn-outline-warning:hover {
  background-color: var(--main-color) !important;
  color: #000 !important; /* لون الخط */
}
/* OUR Game Section */
.dark-background {
  background-color: #0b0e13;
  padding-bottom: 12rem;
}
.our-game h4::before,
.what-we-do h4::before,
.our-team h4::before {
  content: "";
  width: 5%;
  position: absolute;
  top: 20%;
  left: 55%;
  height: 0.2rem;
  background: linear-gradient(to left, rgba(205, 255, 54, 0.1), #cdff36);
  border-bottom-right-radius: 90%;
  border-top-right-radius: 90%;
}
.our-game h4::after,
.what-we-do h4::after,
.our-team h4::after {
  content: "";
  width: 5%;
  position: absolute;
  top: 20%;
  right: 55%;
  height: 0.2rem;
  background: linear-gradient(to right, rgba(205, 255, 54, 0.1), #cdff36);
  border-bottom-left-radius: 90%;
  border-top-left-radius: 90%;
}
.carousal-buttons {
  gap: 2rem;
}
.btn-1-2 {
  gap: 1rem;
}
.carousal-buttons .carousel-control-prev,
.carousal-buttons .carousel-control-next {
  width: auto;
  position: static;
}
.i-1:hover,
.i-2:hover {
  border-color: var(--main-color) !important;
}
.i-1:hover .my-icon,
.i-2:hover .my-icon {
  color: var(--main-color);
}

.what-to-do-card .icon-card {
  background-color: #1e2939;
}
.what-to-do-card i {
  color: var(--main-color);
}
.what-to-do-card {
  position: relative;
  padding: 60px 20px;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 20px;
  transition: 0.3s;
  height: 18rem;
}
.image-card {
  height: 18rem;
}

/* Corners */
.what-to-do-card::before,
.what-to-do-card::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  opacity: 0;
  transition: 0.3s;
}

.what-to-do-card::before {
  top: 10px;
  left: 10px;
  border-top-color: #cdff36;
  border-left-color: #cdff36;
}

.what-to-do-card::after {
  bottom: 10px;
  right: 10px;
  border-bottom-color: #cdff36;
  border-right-color: #cdff36;
}

.what-to-do-card:hover {
  border-color: #cdff36;
}

.what-to-do-card:hover::before,
.what-to-do-card:hover::after {
  opacity: 1;
}

.what-to-do-card:hover .icon-card {
  background: #cdff36;
}

.what-to-do-card:hover .icon-card i {
  color: #1e2939;
}

.what-we-do::after {
  content: "";
  width: 0%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  height: 0.2rem;
  background: linear-gradient(
    to right,
    transparent,
    #cdff36,
    #cdff36,
    transparent
  );

  box-shadow: 0 0 12px #cdff36, 0 0 24px rgba(205, 255, 54, 0.4),
    0 0 32px rgba(205, 255, 54, 0.2);
}

.logo-left-track {
  animation: slide-left 15s linear infinite;
}
.logo-right-track {
  animation: slide-right 20s linear infinite;
}

.logo-img {
  width: 30px;
  border-radius: 20px;
  object-fit: cover;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.our-team .team-image img {
  filter: grayscale(100%);
  transition: filter 0.4s ease;
}
.team-image:hover img {
  filter: grayscale(0%);
}

.team-image:hover .vertical-text,
.team-image:hover p {
  color: var(--main-color);
}
.team-info {
  position: absolute;
  bottom: 0;
  left: 5%;
  z-index: 3;
  color: #fff;
}

.team-info h3 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 700;
}

.team-info p {
  font-size: 0.9rem;
  opacity: 0.9;
}

.vertical-text {
  position: absolute;
  right: 0;
  bottom: 20%;
  transform: rotate(90deg);
  color: #fff;
  font-weight: 700;
  z-index: 3;
}

.contact-us {
  background-color: #0e1421;
}

.contact-us::before {
  content: "";
  width: 5%;
  position: absolute;
  top: 8.5%;
  left: 55%;
  height: 0.2rem;
  background: linear-gradient(to left, rgba(205, 255, 54, 0.1), #cdff36);
  border-bottom-right-radius: 90%;
  border-top-right-radius: 90%;
}
.contact-us::after {
  content: "";
  width: 5%;
  position: absolute;
  top: 8.5%;
  right: 55%;
  height: 0.2rem;
  background: linear-gradient(to right, rgba(205, 255, 54, 0.1), #cdff36);
  border-bottom-left-radius: 90%;
  border-top-left-radius: 90%;
}
.contact-card {
  background-color: #1e2939;
  border-radius: 1.5rem;
  padding: 3rem 4rem;
}

.contact-icon {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1.2rem;
}

.community-card {
  background: linear-gradient(90deg, #dfff3f, #47ffb0);
  border-radius: 1.5rem;
  color: #050811;
}

.social-icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #050811;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: var(--main-color);
  background-color: #0b0e13;
}

.contact-form-card {
  background-color: #1e2939;
  border-radius: 1.5rem;
}

.contact-form-card .form-control,
.contact-form-card .form-select {
  background-color: #364153;
  border: 2px solid #283349;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.contact-form-card .form-control::placeholder {
  color: #6e7582;
}

.contact-form-card .form-control:hover {
  border-color: var(--main-color);
}
.contact-us .contact-button:hover {
  background-color: #a8d321;
}

/* Footer section */

.footer-section {
  background-color: #000000;
}
.footer-social-link i:hover {
  color: var(--main-color);
}

.footer-links a {
  text-decoration: none;
  margin-top: 2rem;
}
.footer-section a {
  color: #8e96a3;
}
.footer-links li a:hover {
  color: var(--main-color) !important;
}
.footer-bottom-link {
  text-decoration: none;
}

.footer-bottom-link:hover {
  color: var(--main-color) !important;
}
.footer-text-color {
  color: #8e96a3;
}


@media (max-width: 576px) {
  /* sm */
  header{
    padding-top: 50px;
  }
  .header-text-wrapper {
    justify-content: center !important;
  }


  .logo-img {
    width: 50px;
  }
  .my-buttons .btn-warning,
  .my-buttons .btn-outline-warning {
    width: 50%;
  }
}

@media (max-width: 768px) {
  /* md */

 
  .my-buttons .btn-warning,
  .my-buttons .btn-outline-warning {
    width: 100% !important;
  }
  .logo-img {
    width: 75px;
  }

}
@media (max-width:1199px){
  header{
    padding-top: 60px;
  }
  .our-game-carousel .img-1, .our-game-carousel .img-2 , .our-game-carousel .img-3{
    width: 30% !important;
    border-radius: 0.3rem !important;
  }
}

@media (min-width: 1200px) {
  /* xl */
  .logo-img {
    width: 100px;
  }
  .my-buttons .btn-warning,
  .my-buttons .btn-outline-warning {
    width: 40% !important;
  }
  .what-we-do::after {
    content: "";
    width: 40%;
  
    
  }
}
